[2018-09-07 15:05] ahal opened #14 "Create a readthedocs page for active-data-recipes"
I've been stuffing most of the recipe documentation into the README.md file, but this doesn't scale well and it's easy to forget to add new recipes.

We should create a readthedocs site and set things up such that new recipes automatically get added. We can use sphinx-autodoc to pull the necessary info out of their docstrings.

[2018-09-07 15:10] ahal opened #15 "Traceback when running `adr try_usage` (due to missing data in ActiveData)"
The following traceback occurs when running `adr try_usage`:

[code]

This is happening because the repo data is missing from ActiveData (running `adr try_usage --from now-3month` works).

Rather than a traceback, we should print a nice error message and abort when this happens.

[2018-09-11 17:08] klahnakoski opened #16 "Have ADR accept --url parameter?"
There are multiple ActiveData endpoints, and they have different data.  If ADR can accept a `--url` parameter then it can send queries to other endpoints.

[2018-09-11 17:23] ahal opened #17 "Ability to open a query in ActiveData's query tool"
Sometimes it's nice to run a query in ActiveData's actual query tool (http://activedata.allizom.org/tools/query.html). It's possible to POST a query to that endpoint and receive a URL back. Maybe we could create an `adr-query --debug <query>` which instead of running the query, get's the URL from the web interface and opens it in the user's browser.

I'm not sold on the name `--debug`, open to oth

[2018-09-11 17:50] klahnakoski opened #18 "Add scheduled testing"
It would be nice to be notified when the schema underlying an ADR query has broken something.  Travis testing may be the solution:  https://docs.travis-ci.com/user/cron-jobs/

[2018-09-11 18:41] worldomonation opened #19 "Combine recipe and query runner into one"
The current default when user runs `adr` in the CLI invokes the recipes parser, which then begins looking for a recipe of the name provided e.g. `adr unittest_skip_count`.

While this is handy if the default use case is recipes, it is unintuitive if the user intends to run a query. The user must run `adr-query ...` and if the user does not have tab completion or is new to the tool it can be confus

[2018-09-11 19:26] ahal commented on #19
+1

I'd propose:

[code]

The last case could just search for <name> in the recipes and possibly even the queries if none were found. We can use argparse's subparsers feature to implement this.

[2018-09-11 19:38] ahal opened #20 "Expand test suite"
We have some tests for the actual recipe scripts themselves, but nothing for the (admittedly small) pieces of adr itself. We should add tests around the various cli binaries (running recipes, running queries, exporting gists/recipe tests). We'll need to make sure we stub out the call to the active data endpoint.

[2018-09-18 16:05] ahal commented on #18
Good find, I like that! It looks like daily is the most granular we can go but that's probably good enough.

We'll likely need to write a mini test runner that invokes `adr <recipe>` and fails if there was an exception or if there were no results. Some recipes require command line args, so we'll want to run them multiple times with different arguments.

[2018-09-18 16:06] #14 closed

[2018-09-18 16:07] ahal commented on #14
This was fixed by 2bcfa8ab3dacf8b4033e5c9ea7ac0d55a1f94fc2 (and follow-up commits around docstrings). There is also now a doclint that will fail if any recipes are missing from the docs.

[2018-09-20 09:42] Soundharyaam commented on #16
Hi, Can I work on this issue?

[2018-09-20 11:53] mUtterberg commented on #15
![screen shot 2018-09-20 at 7 37 07 am](https://user-images.githubusercontent.com/35174396/45815916-18b76580-bca8-11e8-8a23-e5d69e967068.png)

Quick question: In working on this issue, I was unsure if there was an existing example of other functions that abort without traceback. Getting try_usage.run to return an error message (string) seems simple enough, but cli.run_recipe seems to require an in

[2018-09-20 12:08] ahal commented on #20
I'm going to file separate issues for individual pieces of the code base that should be tested. That way the scope stays smaller and there will be more issues for everyone to tackle.

[2018-09-20 12:08] #20 closed

[2018-09-20 12:16] ahal opened #23 "Add a unit test for formatter.py"
There are a handful of formatters that expect data in a handful of different formats. We should add a pytest test to our test suite to make sure we don't accidentally break one.

Pytest documentation is here:
https://docs.pytest.org/en/latest/contents.html

In order to solve this we'll need to create a new test file called `test_formatters.py` in the `test` directory. The test should use parametri

[2018-09-20 12:44] ahal commented on #15
Good observation!

I think it would be fine to wrap the `mod.run` call in a try/except, print the error and skip the formatting in that case. It would be nice to create a custom Exception class that represents "ActiveData didn't return any data".

p.s
It's true that all (or most) recipes will have some sort of problem if ActiveData doesn't return any data. I filed an issue for this particular reci

[2018-09-20 12:49] ahal commented on #16
To expand on this a bit, `adr` currently hardcodes the ActiveData url here:
https://github.com/mozilla/active-data-recipes/blob/13ff63d60def86d4df062209800d6f838c6cf11e/adr/query.py#L20

But there are several ActiveData instances running (e.g a prod/dev instance, a bugzilla instance) and we might want to query one vs the other.

The currently hardcoded endpoint should still be the default, but we

[2018-09-20 13:16] nadaa commented on #23
Hi @ahal , I just came from Outreachy, I will be happy to work on this?

[2018-09-20 13:35] ahal commented on #16
Sure, thanks for your interest! I added a little bit more context to the
issue.

On Thu, Sep 20, 2018 at 5:42 AM Soundharya AM <notifications@github.com>
wrote:

[2018-09-20 13:39] nadaa commented on #16
Hi @ahal, I came from Outreachy, and I would love to start with this if possible?

[2018-09-20 13:43] ahal commented on #16
Welcome @nadaa !

Sure, you are welcome to give this a try. Please feel free to ask if you have any questions or would like clarification on anything.

[2018-09-20 14:52] nadaa commented on #16
Thanks a lot, Mr. @ahal.
I am trying to understand the process, so we need to allow users to enter the URL in the command line beside the query,  if there is no URL, the default one will be used?
The default URL is used for what?

[2018-09-20 14:57] ahal commented on #16
Exactly, we want people to be able to run `adr <recipe>` (which will use the default URL), as well as `adr <recipe> --url <url>` (which will use the URL they specify.

The URL is where we submit the query to active data. It is currently defined here:
https://github.com/mozilla/active-data-recipes/blob/13ff63d60def86d4df062209800d6f838c6cf11e/adr/query.py#L20

But we'll have to figure out how to mo

[2018-09-20 15:08] nadaa commented on #16
Alright, thank you :)

[2018-09-20 15:17] ahal commented on #16
You're welcome :)

A good first step would be to make sure you can install the module and run a recipe. It'll help you get a feel for how it's supposed to work. You can also check out the contributing guide if you haven't already:
https://github.com/mozilla/active-data-recipes/blob/master/CONTRIBUTING.md

[2018-09-20 16:56] nadaa commented on #16
@ahl, I sent a pull request, please let me know if it needs any modification. Thanks!

[2018-09-20 17:43] mUtterberg commented on #15
Sounds good! I took another look and noticed I'd hastily mixed up fmt and output, but yes there should at least be a check for empty queries. I ended up getting slammed today, but will address it tomorrow if no one beats me to it. (Which they're more than welcome to do.)

I didn't even think to check query.py for validation! Doesn't seem like that'd be too complex of an add-on. I'll at least look

[2018-09-20 18:05] sashafierce commented on #17
Hello @ahal! I am an Outreachy aspirant and I feel I like this project the most thus far hence I would like to start towards solving something, I have installed the `adr` module and tried to use it( although I'm getting errors with some commands, not sure if its expected behavior).
I think I understand this issue, please let me know if this is good bug to start with. Thanks :smile:

[2018-09-20 18:56] ahal commented on #17
Hi @sashafierce , thanks for your interest! Yes you are more than welcome to try this out :). And yes, it's expected that some of the recipes won't work. ActiveData is undergoing a bit of migration so things aren't as stable as we'd like. But as long as you see data from some of the recipes that's good enough for our purposes (the `adr inspect` one is nice and simple to test out).

This is a littl

[2018-09-21 22:32] sashafierce commented on #17
Thanks @ahal  I am looking into this, if someone else wants to try they are welcome to!

[2018-09-23 18:56] nadaa commented on #23
hi @ahal, I will start working on this, I know it will be challengable but it is also a learning opportunity :)

[2018-09-24 13:44] ahal opened #27 "Create a recipe to track skipped/disabled tests"
There used to be a tool called `test-informant` that would report how many tests we have skipped and under which directories. But it went unmaintained and no longer works. We should create a recipe to replace it.

[2018-09-24 14:07] #16 closed

[2018-09-24 14:09] ahal commented on #23
Perfect! Yes it is a great learning opportunity, writing unittest's (and familiarity with pytest in general) is a great skill to have.

Let me know if you need any help getting started @nadaa

[2018-09-24 14:35] nadaa commented on #23
@ahal , sure I will post any question I have. Thank you!

[2018-09-24 15:35] ahal opened #28 "Add a unittest for query.py"
We don't yet have a test for the query related functionality in adr. This test should cover functionality in the `adr-query` command. We'll want to create a `test_query.py` pytest test. It should test running queries with various formats, using different contexts, loading the query files themselves (and using JSON-e), and the various cli flags (--list, --verbose, etc).

The test will likely be pre

[2018-09-24 16:07] worldomonation commented on #28
I would like to propose that this task is split into smaller subtasks, such as:

tests for:
- running mocked query data (similar to recipe tests)
- ancillary command line arguments (--list, --verbose, --url, etc)
- checking each method in isolation

[2018-09-24 16:20] ahal opened #30 "Create a configuration object"
There are certain pieces of data (e.g ActiveData endpoint, log, verbose, etc) that need to be passed around from module to module. Currently they are handled sort of ad-hoc (often by manipulating globals). It would be cleaner to have a configuration object we could store information on. We could ultimately pass this into the recipes (and therefore we could also store arbitrary metadata they might

[2018-09-24 16:41] ahal commented on #28
Good idea. We can track it all in this issue, but encourage more minimal pull requests (as otherwise there will be conflicts).

Unit testing the methods in isolation sounds like the easiest piece on your bullet list, so just getting a test landed that accomplishes that would be a great start!

[2018-09-24 18:29] ahal opened #31 "Figure out how to run recipes on intervals over time"
Right now, you can run a recipe once to retrieve a single "data point". For example, you might run:

    adr backout_rate --from today-week

to get the backout rate over the past week. But if you want to see how the backout rate is changing from week to week, you have to run the recipe multiple times (with different date arguments).

I want to make it easier for people to run existing queries over

[2018-09-24 20:17] klahnakoski opened #32 "try_usage is busted on new cluster"
The try_usage recipe does not work using the new cluster. The data it needs is there, but `{"select":"changeset.description"}` is returning `null`.

[code]

The `repo` is not storing the description separate from the whole document.  I will look into this

[2018-09-25 14:30] ahal opened #33 "Stop hardcoding mc_root_dirs.txt"
A few recipes require a list of all directories that live in mozilla-central. As a very quick hack, we hardcoded this in the `mc_root_dirs.txt` file at the root of the repo. This is obviously bad because this list will become out of date.

We should either write a new ActiveData query that provides this information, or else just query hg.mozilla.org for it (I think the latter might be simpler). Th

[2018-09-28 13:33] ahal opened #34 "Create a web front-end for running recipes"
It would be nice to run recipes from the web in addition to a CLI. This issue will just tackle creating a basic flask app that can be run locally (and not standing up a server or anything just yet).

Let's start with something basic and we can add more features later on as we go.

[2018-09-28 20:20] nadaa commented on #23
Hi @ahal, what test data I can use?

[2018-09-28 21:43] ahal commented on #23
Um, good question!  There are two types of data that the table formatter can expect, either a list of lists, or a dict with keys ordered by the `names` key.

Example data in the first format:

    [
        ['Heading A', 'Heading B', 'Heading C'],
        ['Row 1 Column A', 'Row 1 Column B', 'Row 1 Column C'],
        ['Row 2 Column A', 'Row 2 Column B', 'Row 2 Column C'],
    ]

Example data in t

[2018-09-28 21:47] #15 closed

[2018-09-28 21:50] worldomonation commented on #19
Issue has been addressed by https://github.com/mozilla/active-data-recipes/pull/29.

[2018-09-28 21:50] #19 closed

[2018-09-29 12:18] klahnakoski commented on #23
ADR (this program) uses the two formats mentioned above by @ahal internally.  The system it queries, called ActiveData, produces three formats: `list`, `table`, and `cube`:

**list**
[code]

**table**
[code]

**cube** (default)
[code]

[2018-09-30 07:52] nadaa commented on #23
Thanks @ahal  & @klahnakoski . I started like this:

![](https://i.imgur.com/v7KlRe5.png)

Please let me know what do you think, I am still trying to add a fixture to pass formatters to test functions!

[2018-09-30 17:15] emily1511 commented on #17
Hi @ahal and @sashafierce. I followed above suggestion and found that the POST request is `{"from":"meta.tables","meta":{"save":true}}`. Can I try this one? Thanks.

[2018-10-01 16:40] nikk15 commented on #28
Hi @ahal! I'm an Outreachy applicant. After looking through the potential projects, this one seemed like the most interesting and the best learning curve for me personally. I appreciate the easy to comprehend communication in the project description and issue detailing.

I would love to gain experience testing in Python - would this be a good issue to tackle first? I could start with running mocke

[2018-10-01 17:01] klahnakoski commented on #17
@TrangEmily you must include the query you want opened.  In your example the query is `{"from":"meta.tables"}`, which is a special metadata query, and make me wonder why you chose that table.

[2018-10-01 17:08] klahnakoski commented on #17
@TrangEmily the sequence will look something like

1. The command line options will dictate a particular recipe/query to send to ActiveData
2. Your code will intercept that send and attach `{"meta":{"save":true}}` to the query
3. Your code will intercept the response and record the `{"meta":{"saved_as":UID}}`
4. Your code returns the response to the recipe/query, and let it do its work.
5. Your co

[2018-10-02 14:12] ahal commented on #23
Thanks @nadaa that looks perfect!

Once we add tests for different kinds of formatters (e.g the markdown formatter as well), then having all these expected strings and test data live in the test file itself might get messy. So we might want to move them out into some kind of external file (maybe a JSON file?) to keep the test file itself cleaner. But I think you should get what you have landed for

[2018-10-03 03:39] TrangEmily commented on #33
Hi @ahal I will do this. I opened `https://hg.mozilla.org/`, then tried `Mercurial > mozilla-central ` but the list is different from the content of mc_root_dirs.txt. So I wonder how can I query hg.mozilla.org to get the list of all directories. Thank you.

[2018-10-03 04:00] TrangEmily commented on #33
Hi I tried again and it seems that `Mercurial > mozilla-central > files ` gives the list we need. Is it correct?

[2018-10-03 12:58] nadaa commented on #23
@ahal , thank you. I 've sent a PR, however, there is an encoding issue.
Ya, separating data from test will make it nicer, json/yaml can be a choice. I will look at it.

[2018-10-03 13:44] nadaa commented on #34
Hi @ahal, I can work on this but I need to know how the front-end will look like?

[2018-10-03 14:08] ahal commented on #33
Yeah, I may have applied the 'help wanted' label a little too early here. I've been looking into ways of extracting directories out of mercurial but haven't been able to find anything. So maybe querying this information isn't possible.

I guess we could always scrape https://hg.mozilla.org/mozilla-central/file itself with beautifulsoup4 or something similar. If you like you can give scraping a sho

[2018-10-03 14:16] ahal commented on #34
Hey @nadaa, this one will be a lot more difficult than the other ones (I was planning to eventually get something basic working that we could use as a starting point), but if you are up for a challenge you are welcome to try it!

Have you ever created a [flask](http://flask.pocoo.org/docs/1.0/) app before? I wouldn't worry about the looks at first. Just a blank page with a bunch of links (one link

[2018-10-03 19:12] TrangEmily commented on #33
Hi @ahal I used beautifulsoup4 as following in this code below
[code]

The result is
`['accessible/', 'browser/', 'build/', 'caps/', 'chrome/', 'config/', 'db/', 'devtools/', 'docshell/', 'dom/', 'editor/', 'embedding/', 'extensions/', 'gfx/', 'gradle/', 'hal/', 'image/', 'intl/', 'ipc/', 'js/', 'layout/', 'media/', 'memory/', 'mfbt/', 'mobile/', 'modules/', 'mozglue/', 'netwerk/', 'nsprpub/', 'ot

[2018-10-03 20:54] ahal commented on #33
Perfect!

Please put that logic into a utility file, maybe `adr/util/hgmo.py` (which is short form for hg.mozilla.org). Then we can delete that `mc_root_dirs.txt` and recipes that need it can call the util function instead.

[2018-10-04 00:08] TrangEmily commented on #33
Thank @ahal. I can't find the query or recipe which call mc_root_dirs.txt. How can I find it? Thank you.

[2018-10-04 19:49] #17 closed

[2018-10-05 06:48] TrangEmily commented on #30
Hi @ahal I want to try this one. Follow your suggestion, I intend to do like this:
1. Make a configuration class that read from config file
2. User can overwrite any parameter using command line arguments (i.e --url)
3. Other modules can get data of this class.

[2018-10-05 10:11] nadaa commented on #34
Hi @ahal, I have some background in flask, I have some experience in APIs. I will give it a try and let you know. Thank you.

[2018-10-05 14:29] ahal commented on #34
Nice, that was quick! Yeah that's a great start. So next you'll need to hook up the link trigger to run the recipe and display a table somewhere. I'd recommend using the --format=markdown argument and then run it through a markdown parser (e.g python-markdown) to convert the result to an HTML table.

[2018-10-05 14:33] #33 closed

[2018-10-05 14:33] ahal commented on #33
Thanks for your contribution!

[2018-10-05 22:19] nadaa commented on #34
![](https://i.imgur.com/rqy3NfV.png)

[2018-10-05 22:20] nadaa commented on #34
I will try to make it nicer

[2018-10-08 21:20] nadaa commented on #34
![](https://i.imgur.com/cuMTmFe.png)
@ahal, what do you think?

[2018-10-08 21:35] nadaa commented on #34
These recipes don't work:

backout_rate
code_coverage
code_coveage_by_suite
file_with_coverage (empty)
intermittent_tests
intermittent_test_data
raw_coverage
test_config_times
test_effciency
try_usage
try_users (empty)

[2018-10-09 13:06] ahal commented on #33
Sorry, I missed this comment. Yes, I went looking for it too after you submitted your PR and it looks like nothing was using it. I found the original commit that added that file, and it looks like it was always unused:
https://github.com/mozilla/active-data-recipes/commit/15ddbb483883aa4f94404dcfaac1a300266c8f19

Though I talked to Joel about this and he said that he was planning to make use of it

[2018-10-09 13:09] ahal commented on #30
Thanks, sounds like a good plan!

I don't have a super clear idea how this should be implemented, but I think you're on the right track. So Iet's see how the PR looks and we can iterate on it if necessary.

[2018-10-09 13:28] ahal commented on #34
Awesome, this is great! I'm a fan of working in small increments, so if you want to put up a PR we can start working on the review and getting what you have landed so far. So this next part is meant as follow-up work (after what you have here is merged). Assuming you're still interested :)

Next we'll need to figure out how we can specify the recipe arguments (e.g the `task_durations` takes a `--b

[2018-10-09 14:52] anshultale commented on #27
hi @ahal , I would like to work on this.

[2018-10-09 16:32] nadaa commented on #34
Hi @ahal, I see what you mean, and I'll investigate more on this. I also like your simplicity approach :).

Do users know what arguments associated with each recipe?
Maybe we can put textbox with a label for each argument.!

[2018-10-10 15:15] TrangEmily commented on #33
Hi @ahal . It is ok. I just asked this question because I intended to modified queries or recipes which call that file, so that the system will not have problem when we delete it. Solving this issue also helped me learn how to use beautifulsoup4. Thank you :)

[2018-10-10 15:35] ahal commented on #28
Hi @nikk15, so sorry I missed your comment.

Yes I think this bug would be a good one to get started. It's not super easy, but should be manageable. Please feel free to comment here, a PR or e-mail me if you need any extra help getting started!

[2018-10-10 17:49] ahal commented on #27
Hi @anshultale, this one might not be the greatest one to get started on to be honest. It requires quite a bit of inside knowledge of how the data is stored and what it means. I'll spend a bit of time this afternoon to file some new issues that would be more suitable. Thanks for your interest though!

[2018-10-10 19:45] ahal commented on #34
Some user's might know the arguments by heart if they run the recipe frequently, but for the most part they probably won't have it memorized.

Putting in help labels is a good idea, but I want to avoid hard coding this into the web app. Ideally I'd like the webapp to be able to extract help information about the arguments from the recipes themselves. Unfortunately it isn't currently that easy to d

[2018-10-10 19:52] ahal opened #40 "Define recipe queries and arguments in a structured manner"
Currently a recipe is just a python file with a `run` function in it. Defining and handling arguments is done inside this `run` function via argparse, so it's hard to extract this information (e.g for the web app).

I'd like to invent a more structured and strict format for recipes. We could either move to a `yml` format (similar to how mozlint linters work), or else just stick with the python scr

[2018-10-10 19:55] ahal opened #41 "Raise `MissingDataError` in query.py if ActiveData doesn't return any data"
Previously we modified the `try_usage.py` recipe to raise MissingDataError if it detected that ActiveData returned empty results.

We should move this directly into query.py so that it'll happen for all of the queries regardless. This check should happen in the `query_activedata` function, just before the json data is returned.

[2018-10-10 20:39] Pokinawa commented on #41
I am gonna have a look at this now

[2018-10-11 03:56] TrangEmily commented on #18
Hi, I already set up cron jobs on my fork [](https://travis-ci.com/TrangEmily/active-data-recipes). I understand that the script needed to run is put in to `.travis.yml` under script section. Please help me to define which recipes/queries will be run in mini tests. Thanks.

[2018-10-11 04:53] anshultale commented on #27
Thanks @ahal, can you please point me to one of the suitable issues whenever you add them.

[2018-10-12 13:38] ahal commented on #18
I think we'll want to run all the recipes, even the ones that don't work. This way we'll have a good window into what needs to be fixed.

Ideally we can set this up such that it doesn't cause the README badge to turn red on a failure, but generates a notification e-mail when a new recipe fails (or gets fixed). I'm not really sure what Travis will allow here, but we can experiment.

Feel free to ju

[2018-10-12 13:45] ahal commented on #27
@anshultale will do! I filed a few but they get taken pretty quickly :). I'll try to find some more to file today.

[2018-10-12 15:31] kerlynNkep commented on #40
Hi @ahal , I'm an outreachy applicant and this project looks really interesting and am looking forward to working on it. I am kindoff new to open source and I believe this will go a long way to improve my experience.
I will start working on this issue.

[2018-10-12 18:50] ahal opened #45 "`adr task_durations --branch <branch>` doesn't work"
Add a `print(query_args)` statement here:
https://github.com/mozilla/active-data-recipes/blob/master/adr/recipes/task_durations.py#L34

Then run `adr task_durations --branch mozilla-inbound`. Notice that the 'branch' value is still the default set instead of just ['mozilla-inbound'].

[2018-10-12 19:41] #41 closed

[2018-10-12 19:41] ahal commented on #41
Thanks for your contribution!

[2018-10-12 20:48] ahal commented on #40
Hi @kerlynNkep, I think this is an issue that might not be great for contributors, mostly because it will be a fairly major refactor and require a bunch of design work. On top of that I'm not really sure what the ideal solution is, so it will be hard for me to guide you in the right direction. Sorry for not making that clear up front (I added a new label to help make it a bit more obvious).

If yo

[2018-10-12 21:11] ahal commented on #30
Thanks for your contribution!

[2018-10-12 21:11] #30 closed

[2018-10-13 00:32] mesumbejoan commented on #34
Hello, Is it Ok if I work on some further improvement of the UI? @ahal @nadaa

[2018-10-13 08:35] kerlynNkep commented on #45
Hi @ahal, am here and will look into this right away.

[2018-10-13 08:35] kerlynNkep commented on #40
Hi @ahal, thanks for your reply. Since am actually new to the codebase ill take your suggestion and work on the referred issued but ill be back for this issue after i must have gained experience and confidence with the code base.

Thanks

[2018-10-13 17:01] TrangEmily commented on #18
Hi @ahal, I am trying like this:
* Create a branch named `integration-tests` (https://github.com/TrangEmily/active-data-recipes/tree/integration-tests)
* In Travis setting, add a daily cron job for `integration-tests` branch
* Create a script named `integration-tests.sh` which run a list of recipes (all if we want, but if any new recipe is created, it need to be added to this scirpt).
* In `.travi

[2018-10-15 13:40] ahal commented on #34
Hi @mesumbejoan, the relevant PR hasn't landed yet, so even though you could technically pull in @nadaa's changes and base your work on top of those, your changes would almost certainly be repeatedly broken as nothing is set in stone yet.

I'd suggest you wait for @nadaa to finish this PR, then we can figure out a good way to break up work between the two of you so that you aren't conflicting with

[2018-10-15 19:08] ahal commented on #45
Thanks! Let me know if you have any questions.

[2018-10-15 19:19] ahal commented on #18
This proposal looks pretty good! Though I'd like to avoid the need to create a new branch if at all possible. It looks like Travis' cron tasks set an environment variable:
https://docs.travis-ci.com/user/cron-jobs/#detecting-builds-triggered-by-cron

So maybe instead of a new branch we could add a step to the existing `.travis.yml` that runs your `integration-tests.sh` script. The script can just

[2018-10-15 23:34] mesumbejoan commented on #34
@ahal
Thanks for the feedback, I would love it if we find something else for me to work on.
Please let me know what you suggest I do.

THanks

[2018-10-16 06:29] TrangEmily commented on #18
Hi @ahal, thanks for your comment. As I understand, if the test is fail, Travis will set the badge into red. So I think if we follow that link, we have to accept that the README badge can turn red on a failure.  With two branches, there are two different badges in README. There is a case when the tox is passed but the integration-test.sh is fail, if there is only one branch, the `master` badge wil

[2018-10-16 13:52] ahal commented on #31
Just a heads up that I won't be accepting contributions for this issue via outreachy.

[2018-10-16 16:02] ahal commented on #18
Good point, I didn't think of that. But I have an idea!

Instead of creating an `integration-test.sh` script and a new entry in `tox.ini`, why don't you just create a new `pytest` in the existing test suite.

This could be a special pytest that is marked skipped if we're not running from a cron task. We could parametrize the test to run every recipe against activedata (maybe using `subprocess` to

[2018-10-17 06:53] kerlynNkep commented on #45
Hi @ahal, I have something working out like this

![issue45](https://user-images.githubusercontent.com/19359585/47067054-f7329680-d1df-11e8-99d0-bb1b9726541d.png)

I also wish to verify if the branches listed in DEFAULT_BRANCHES are all the branches that exist at the moment.

[2018-10-17 14:33] TrangEmily commented on #18
Hi @ahal I am implementing the way you suggest. But still have a problem with this case: first time the recipe fails, you will receive an email notification about "fail" result;  the second time (after we mark it as xfail) you will receive an email notification about "pass" result (although the recipe is still broken); the third time (after we fix the bug in the recipe), the recipe really passes,

[2018-10-17 15:51] ahal commented on #18
Yeah, I think that's ok. I don't rely on the e-mails too much, and we can always glance at the test file to see which scripts are marked as expected fail and still need to be fixed.

If we try it out and it turns out to be a problem, maybe we can move to your two branch approach in the future. But I'd like to start as simple as possible and only move to something more complicated if we need to.

[2018-10-17 16:19] ahal commented on #45
Looks great, thanks! Feel free to put up a PR and I'll take a look. There are more branches outside of `DEFAULT_BRANCHES`, but you shouldn't need to worry about that here.

[2018-10-17 16:33] ahal commented on #34
@nadaa thanks for your contribution!

@mesumbejoan now that this is landed I think I can try to split out new work into different issues. Give me a bit and I'll file some issues once I've thought through it some more. Keep an eye out for other new issues too.

[2018-10-17 16:56] nadaa commented on #34
@ahal, it is my pleasure, thanks for your ongoing guidance!
@mesumbejoan, good luck :)

[2018-10-17 17:43] kerlynNkep commented on #45
@ahal okay sending a PR straight away.

[2018-10-17 17:54] #34 closed

[2018-10-17 18:04] ahal opened #48 "Improve web app design"
In issue #34 we landed a basic flask web frontend to run the recipes. It is currently very bare bones (just a list of links with no styling). We should try to improve the look and feel of this.

I have almost no webdev experience, so I won't be able to provide much guidance. My intuition is that a framework like React might be overkill for this purpose, and just using a style library like bootstra

[2018-10-17 18:05] ahal commented on #48
Hi @mesumbejoan, in issue #34 you expressed some interest in improving the design of the web-app. Now that it's landed is this still something you would want to work on? Let me know!

[2018-10-17 18:34] ahal opened #49 "Create a landing page + recipe specific pages for the web app"
Currently all the recipes are linked from a single page, and clicking them populates the right side with data. Since we want to provide recipe specific options, I think it would be nice if every recipe had their own page.

So the main "landing" page would still have links to every recipe, but clicking the link would then bring you to a recipe specific page. In this recipe specific page, we would h

[2018-10-17 18:35] ahal commented on #49
Hey @nadaa, if you were interested in continuing on the web app, this might be a good next one to pick up!

[2018-10-17 18:40] nadaa commented on #49
Sure @ahal, count me in!

[2018-10-17 18:56] ahal commented on #48
Wanted to note that to fix this issue, we should stick to modifying the templates and css. There shouldn't be any need to touch the backend (python) side of the app.

Also this issue will likely have a lot of conflicts with issue #49. So if both are being worked on at the same time, we can expect conflicts. This is fine, just be aware that there may be the need to rebase from time to time.

[2018-10-17 23:39] mesumbejoan commented on #48
@ahal Yes, I would still like to work on this. If that is Ok by you, please let me know.

[2018-10-18 07:39] TrangEmily commented on #27
Hi @ahal, where can I get the old version of `test-informant`, or any information about the raw query which will be called in this recipe & post-processing requirement. Thank you.

[2018-10-18 11:27] kerlynNkep commented on #45
Hi @ahal  i have sent a PR. Please can you check and get back to me. And also please would want you to assign me to another task while you are reviewing this.

[2018-10-18 19:30] #28 closed

[2018-10-18 20:20] ahal commented on #45
Thanks for the fix @kerlynNkep! Looks like all the issues got taken in the meantime, but I'll try to file some more today or tomorrow. I'll mention you in it when I do.

[2018-10-18 20:20] #45 closed

[2018-10-19 21:51] jmaher opened #53 "some flake8 failures when running tox locally on windows"
==================== 12 passed, 1 warnings in 1.91 seconds ====================
flake8 inst-nodeps: c:\Users\elvis\active-data-recipes\.tox\.tmp\package\1\active-data-recipes-0.9.0.zip
flake8 installed: active-data-recipes==0.9.0,certifi==2018.10.15,chardet==3.0.4,configparser==3.5.0,enum34==1.1.6,flake8==3.5.0,idna==2.7,json-e==2.7.1,mccabe==0.6.1,pycodestyle==2.3.1,pyflakes==1.6.0,PyYAML==3.13,r

[2018-10-19 21:54] #53 closed

[2018-10-19 21:54] jmaher commented on #53
these were local files in my repo

[2018-10-22 17:53] ahal commented on #18
ActiveData did the migration last weekend and something seems to have broken the recipes. So if you notice it's all failing now, that's expected. Kyle's looking into it. We can land this once the issue is cleared up.

[2018-10-22 20:10] ahal opened #55 "Running `adr <recipe> -- --help` no longer displays recipe help"
This is a regression from a cli refactoring. I'm not exactly sure what's happening, but I think it's because we dynamically add the subparsers in based on the arguments:
https://github.com/mozilla/active-data-recipes/blob/master/adr/cli.py#L173

I believe fixing this issue will involve making it so the subparsers are always added regardless of whether or not 'recipe' or 'query' show up in the args

[2018-10-23 14:19] ahal commented on #32
This will hopefully just be fixed in upstream ActiveData and no action will be necessary here. But I'll leave it open to help keep track of it.

[2018-10-23 15:12] TrangEmily commented on #18
Yes I am ok with that. Some of the integration tests are passed again, but seta_accuracy unit test is failed.

[2018-10-23 19:45] ahal opened #57 "Error in seta_accuracy: "ActiveData didn't return any data""
This started happening after the ActiveData migration.

[2018-10-23 20:56] ahal commented on #49
Oops, missed your question @nadaa . React is a front-end library, so whether we use it or not is actually entirely independent from our decision to use flask. I kind of think that using React is not worth it for this small use-case, but that's only because I'm not familiar with webdev and it scares me :).

But to answer your question, yes we should continue to use flask on the backend. It is a nic

[2018-10-24 04:58] kerlynNkep commented on #55
Hi @ahal. Ill get on this.

[2018-10-24 07:39] terrameijar commented on #48
Hello.

I am interested in working on this, but I haven't figured out how to run the flask app. Could someone point me in the right direction?

[2018-10-24 12:54] kerlynNkep commented on #55
Hi @ahal, please i wish to find out from you which among these frameworks [Angular, Flask and React]  will be used in designing the dashboard for this project.

[2018-10-24 14:09] ahal commented on #48
Hi @terrameihar, you can run the following:

    $ cd app
    $ flask run

Then open the printed link in your browser. Hope that helps!

[2018-10-24 14:14] ahal commented on #55
Hi @kerlynNkep, this specific issue isn't related to the web dashboard, so doesn't require any frameworks to complete. It requires python only in the `cli.py` file. If you wish to do some webdev, you can try your hand at issue #48. Just be aware that some other applicants may also be working on it, so there's a chance I won't be able to merge your work if you do.

This issue will require some in-d

[2018-10-24 14:20] ahal opened #58 "Stop supporting python 2"
There isn't really a good reason this needs to support both python 2 and python 3. To simplify things, let's just support 3 only. Steps to take:

1. Remove the py2 call from tox.ini
2. Remove `six` from the dependencies in setup.py
3. Remove all references to `six` in the code (and replace them with their python 3 equivalents).

[2018-10-24 14:29] kerlynNkep commented on #55
@ahal  Yes i know that its not related to web dashboard. The question was relating to the internship project. Am sorry posting the question here even though its not related to the issue.

[2018-10-24 14:34] kerlynNkep commented on #58
@ahal  thanks for referring me to this issues. I will also work on this as well.

[2018-10-24 16:13] nadaa commented on #49
Hi @ahal, thanks for comment!. Yes, maybe for this task I 'll continue using flask templates, and web dev is nice  :). I think React might help if the front-end application becomes large.  Thanks for the python update, I hadn't had time to work on this issue, but hopefully the coming days.

[2018-10-26 00:13] mesumbejoan commented on #48
@ahal I have made a pull request on this. Please could you have a look?
Here it is: #59

[2018-10-26 00:36] terrameijar commented on #48
@ahal Thanks for the help in getting me setup. I also just submitted a PR :)
https://github.com/mozilla/active-data-recipes/pull/60

[2018-10-26 00:39] terrameijar commented on #58
@ahal I would like to work on this if its still up for grabs or any other issues that you can point me to.

[2018-10-26 04:48] kerlynNkep commented on #58
Hi @terrameijar am on it already.

[2018-10-26 07:44] rabyatouyimga commented on #49
@ahal could I join in on this?

[2018-10-26 07:48] rabyatouyimga commented on #58
@ahal @kerlynNkep ok, since you are working on this, I shall look for another issue for my first contribution.
@ahal please is there any task you suggest I work on?

[2018-10-26 11:21] nadaa commented on #49
hi @ahal, I created a new template to display a recipe, we can put parameters and run the recipe.
I need now to add info for each recipe, I think to add a function in each recipe that return its details, what do you think? and maybe we can do the same for parameters?

![](https://i.imgur.com/xe5v2R3.png)

[2018-10-26 13:45] ahal commented on #48
Thanks to both of you! Apologies for the overlap contribution overlap here, I'll take both contributions into account regardless of whether or not the PR ends up getting merged.

[2018-10-26 13:52] rabyatouyimga commented on #48
@ahal Thanks. Please is there any other issue which you would recommend for me ? I am applying to this project for Outreachy, and I would like to have more tasks to understand the code base even more.

[2018-10-27 06:12] kerlynNkep commented on #58
Hello @ahal i have sent a PR. Please can you check it and get back to me

[2018-10-29 11:28] nadaa commented on #49
I think I will hardcode the info & arguments for each recipe for now, and I will think out how to restructure the recipes as you mentioned here #40

[2018-10-29 11:42] MadinaB commented on #55
Hello!

I think this [fix](https://github.com/mozilla/active-data-recipes/pull/63) deals with the bug, could you please check it up?

[2018-10-29 15:04] MadinaB commented on #49
Have fixed this issue with commit #65

[2018-10-29 15:08] ahal commented on #48
I had a chance to pull both PRs down and test them out, they both look really nice! Thanks for the hard work.

I just wanted to note that I'm going to hold off merging either PR until after the internship has been decided. I'd like whoever gets picked to have some control over the direction of the web-app so having both options to use as a potential starting point will be very helpful! Thanks agai

[2018-10-29 15:36] ahal commented on #58
Thanks for your contribution @kerlynNkep!

[2018-10-29 15:36] #58 closed

[2018-10-29 15:38] ahal commented on #58
@rabyatouyimga I apologize, but the final application deadline is tomorrow and at this point it's too late to start recording contributions. There should be several projects that have requested additional applications and have extended their deadline. I'd recommend trying to find one of those to contributions.

But thanks for your interest!

[2018-10-29 16:56] MadinaB opened #67 "Unexpected behavior on "adr test_durations""
Hi, I found some recipe which shows some unexpected behavior on the endpoints. If you run `adr test_durations`, it will show an error with following message: 'list' object has no attribute 'min',/ As I understand, it appears from this file: https://github.com/mozilla/ActiveData/blob/dev/vendor/jx_elasticsearch/es52/decoders.py#L250

[2018-10-29 18:59] MadinaB commented on #27
I am trying to resolve this issue and have made some small recipe which is related to this issue. I made it very simple in order to check if I am moving in correct directions. Could you please check this? If everything is correct, I plan to add extra arguments for it.

[2018-10-29 19:41] MadinaB opened #70 "Comparison error in files_with_coverage.py:"
When I do:
[code]

I am getting following error:
[code]

After googling a while It came out that Python3 raises an error on comparison between different types, while Python2 did not from [here](https://mail.python.org/pipermail//python-list/2016-August/713475.html).

[2018-10-29 22:04] mesumbejoan commented on #48
@ahal. Thank you for testing this. I would have loved to do a PR on some of the python code, but time is against us. Thanks for communicating this with us; I wish you the best as you pick who will work on this. Thank you,

[2018-10-30 13:06] ahal commented on #48
@mesumbejoan no matter the results of this selection, if you are looking for Python experience and are interested in contributing further to Mozilla, I would be more than happy to help you find some bugs to work on in our main code base (this module is just a tiny fraction of the Python we run here at Mozilla). Though the barrier to entry is a bit higher than this project (we don't use Github or s

[2018-10-30 13:31] MadinaB commented on #48
@ahal I am in. This is my first time committing to Mozilla and I can feel it being addictive :D

[2018-10-31 14:05] ahal commented on #67
Good investigating! Do you believe this is an issue with the upstream ActiveData repo?

Btw, we know many of the recipes aren't working at the moment (ActiveData recently migrated to newer infrastructure and we're sorting through a bunch of issues that arose from that). But thanks for filing the issue, it'll be easier to track everything we need to do.

[2018-11-01 15:38] MadinaB commented on #23
Hi @ahal,
Hope you are doing great!

Could you please take a look at this try in PR #76?

[2018-11-01 17:07] MadinaB commented on #67
I am getting following, so it looks like so:
[code]

[2018-11-01 19:35] #55 closed

[2018-11-06 19:04] klahnakoski commented on #67
The query has stopped throwing errors.  Please check if this is fixed, or failing in another way.

The cluster is also crazy slow, so if you get a 500 error, just try again

[2018-11-07 01:13] MadinaB commented on #67
Hello! Thanks for fixing that! Now it works perfectly:
<img width="689" alt="screen shot 2018-11-07 at 9 56 13 am" src="https://user-images.githubusercontent.com/13504614/48103638-69dce200-e273-11e8-895f-901f039a5b85.png">

but slow:
<img width="342" alt="screen shot 2018-11-07 at 10 11 27 am" src="https://user-images.githubusercontent.com/13504614/48104193-b88b7b80-e275-11e8-880f-b0355bdba69b.png

[2018-11-11 03:49] MadinaB commented on #40
Hi, @ahal!

Hope you are doing well!
I know that there is already one PR for this task, but I think solving it this way:
[https://github.com/mozilla/active-data-recipes/compare/master...MadinaB:issue40](https://github.com/mozilla/active-data-recipes/compare/master...MadinaB:issue40) will be very laconic and this can also be considered as one possible option.

The idea is in using [docopt](https://

[2018-11-12 04:50] #67 closed

[2018-11-14 15:44] ahal commented on #40
This is an interesting solution! I have to say, I'm really impressed with the thought you put into this problem and the approach you settled on.

Though please be aware that the applicant who submitted the other PR and I have still been working on this problem out of band, so if you'd like to continue on this there's a chance your work won't end up being merged. I'm not trying to discourage you, b

[2018-11-14 15:46] ahal commented on #40
Also just re-iterating that I wasn't kidding when I labelled this as a `difficult` issue :). But I'm happy with the progress made here so far and the direction this is heading!

[2018-11-14 15:51] ahal commented on #32
This got fixed upstream, thanks Kyle!

[2018-11-14 15:51] #32 closed

[2018-11-14 15:52] #23 closed

[2018-11-14 16:02] ahal commented on #18
I accidentally had this set to run monthly, which is why I haven't seen results. Changed to daily and looks like everything is working as expected.

[2018-11-14 16:02] #18 closed

[2018-11-14 16:04] ahal commented on #27
Thanks for your contribution!

[2018-11-14 16:04] #27 closed

[2018-11-14 16:04] ahal commented on #27
Fixed by https://github.com/mozilla/active-data-recipes/commit/dc2cd4c32ec84e53c4cb21301c06d483b92df1dd

[2018-12-13 20:54] ahal opened #87 "Recipe documentation not displaying docstrings anymore"
Something happened to the docs:
https://active-data-recipes.readthedocs.io/en/latest/recipes.html

I don't see the docstrings in there anymore, will need to investigate.

[2018-12-13 20:54] #40 closed

[2018-12-14 23:06] TrangEmily opened #89 "Error in raw_coverage: yaml parser error"
Error occurs when loading `raw_coverage_nosubdir.query`, line `{$eval: path+'/[A-Za-z0-9]+/.*\"'}`. The error message is `yaml.parser.ParserError: while parsing a flow mappingin expected ',' or '}', but got '['`.

[2018-12-21 16:09] ahal commented on #48
https://github.com/mozilla/active-data-recipes/commit/ff995681e37804f1b48aed07576bffff9e6df0e4

[2018-12-21 16:09] #48 closed

[2018-12-21 17:03] ahal opened #91 "Integrate code coverage into the `tox` workflow"
I know the test suite is a bit lacking. It would be great to have data on which areas need a bit of extra coverage. We should try to implement coverage in this repo such that it is run as part of the TravisCI build and a report is linked to via a badge in the README.

I haven't looked into the recommended way/libraries to set this up, but there are many guides to be found on Google.

[2018-12-21 18:58] TrangEmily opened #92 "Allow adr query <query> <options>"
Currently user can run `adr query <query>` on cli, and `FAKE_CONTEXTS` will be used to run query. We should update to allow users put options for query, using `adr query <query> <options>` (the same way with recipe now).

[2018-12-21 19:11] TrangEmily opened #93 "Test web app"
Currently we have no test for the web app. We should implement it, this link can be useful http://flask.pocoo.org/docs/1.0/testing/

[2018-12-21 19:16] ahal opened #94 "Implement a query tool as part of the web app"
ActiveData has a very basic query tool that lives here:
https://activedata.allizom.org/tools/query.html

But it leaves a lot to be desired. I'd like to have a similar query tool integrated into the webapp. Probably it would be a new template that you can get to by clicking a link from the main page. It should use a proper embedable editor. My vote would be "ace" as it's developed/supported by Clou

[2019-01-18 17:12] #93 closed

[2019-01-21 20:43] ahal opened #103 "Create a single data structure for recipe metadata"
There are a few global values that various things look for in a recipe. For example, `RUN_CONTEXT`, `BROKEN`, etc.

We should have a single construct for all recipe metadata. I guess for now we can keep using a global variable + dict:

[code]

Eventually we might want to move this to an external file and have that be the primary place to define a recipe, but for now we can leave them in the python

[2019-01-21 20:47] ahal opened #104 "Implement a way for a recipe to define an `immutable` context value"
Some recipes hardcode a context value that is required by a query. For example, the `try_efficiency` recipe hardcodes the `branches` context to `try`.

However, since the query it uses has a `branches` eval in it, this context gets added to the cli/webapp even though modifying it has no affect. We should figure out a way for recipes to signal that a query-based context value is going to be hardcod

[2019-01-23 02:51] klahnakoski opened #105 "Cron failures"
Looking at

    c:\python36\Scripts\adr.exe config_durations --verbose

the `branches` is empty

At this point in the debugger https://github.com/mozilla/active-data-recipes/blob/master/adr/recipes/config_durations.py#L15 `branches is, indeed, empty

![image](https://user-images.githubusercontent.com/2334429/51579667-d0939400-1e8f-11e9-9283-0d2235f15bee.png)

[2019-01-23 02:53] klahnakoski commented on #105
I blame the lack of default value from this changeset:

https://github.com/mozilla/active-data-recipes/commit/57eddf8921a0f23f1893b5bcf3c653120f51091d#diff-1fd0892d2b93fe30e321b96b4a4e9e4aL14

[2019-01-30 20:53] ahal commented on #105
This got fixed and hasn't been failing recently. Thanks for the investigation!

[2019-01-30 20:53] #105 closed

[2019-01-30 20:53] ahal commented on #87
Fixed.

[2019-01-30 20:53] #87 closed

[2019-01-30 20:54] ahal commented on #92
Fixed, thanks!

[2019-01-30 20:54] #92 closed

[2019-02-01 16:46] TrangEmily opened #110 "Migrate webapp to permanent address"
Currently the webapp is put on https://adr-dev.herokuapp.com/. However it is still in development phase, not stable yet. After testing, we should migrate it to a permanent place.

[2019-02-06 14:31] TrangEmily commented on #104
Hi @ahal I think we can close this issue.

[2019-02-06 14:46] ahal commented on #104
Yes, thanks!

[2019-02-06 14:46] #104 closed

[2019-02-18 01:53] moz-hwine opened #120 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/active-data-recipes/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defa

[2019-02-26 06:19] bclary opened #122 "Calling yaml.load() without Loader=... is deprecated in PyYAML 5.1"
Installing adr from github on Fedora 29 I see the following
[code]

This was installed via:
[code]
I believe PyYAML==5.1b1 is the issue. From the link in the message

[2019-03-21 20:03] ahal commented on #122
Thanks for filing, fixed by:
https://github.com/mozilla/active-data-recipes/commit/c03663cff1484cdc4d7f42c2b6184cf64a301897

[2019-03-21 20:03] #122 closed

[2019-03-29 19:53] TrangEmily opened #133 "fixed_by_commit_jobs.query set limit twice"
There are two limit in this file: 10000 and 50000 (line 2 & 19). Maybe we should remove one.

[2019-03-29 20:30] ahal commented on #133
Sure, let's remove the 10000 one just to be safe.

[2019-03-30 06:41] Mozilla-GitHub-Standards opened #134 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-30 19:58] #134 closed

[2019-04-17 15:35] Archaeopteryx opened #136 "backout_rate and try_efficiency rate scripts return incorrect values due to ActiveData API only returning 10000 rows"
The ActiveData API returns maximum 10000 rows (confirmed by ekyle) but some queries request more, e.g. 100000. That causes incorrect calculations.

E.g. the backout rate gets currently calculated by getting all push ids, generating a set from the result for deduplication (ekyle likely can explain why there are duplicates) and getting its length. So for queries over a longer time frame (e.g. since

[2019-04-24 13:16] ahal opened #137 "Server 500 error when running task_durations recipe from webapp"
STR:
https://adr-dev.herokuapp.com/task_durations

[2019-05-09 17:55] #120 closed

[2019-08-22 12:11] AutomatedTester opened #138 "tests in duration recipe throws adr errors"
I tried to run the tests_in_duration recipe and the following happened.

[code]

[2019-08-22 13:24] AutomatedTester opened #139 "If recipe doesnt have docstring error is thrown but doesnt explain why"
I created a new recipe `.py` and when I ran it I got an error throw but didnt explain what I did wrong

[code]

[2019-08-26 15:46] ahal commented on #139
Thanks for filing! There's a `./doclint` binary that tests for missing
docstrings when running `tox`. But we shouldn't assume that docstrings are
necessary.

On Thu, Aug 22, 2019 at 9:24 AM David Burns <notifications@github.com>
wrote:

[2020-06-30 13:42] ahal opened #140 "Add hours per push to the 'try_usage' recipe"
We'd like to get a sense of the average hours that get scheduled for each type of try selector. I tried implementing this in one single query once, but it ended up breaking AD if selecting too long a time period. Might need to gather hours data in a separate query.

Here is the recipe file:
https://github.com/mozilla/active-data-recipes/blob/master/recipes/try_usage.py

Here is the query it runs:

[2020-07-23 15:17] ahal commented on #140
Fixed by c9cd34b415af5f352b6c0931e789e7defcd5c6f0

[2020-07-23 15:17] #140 closed

[2020-12-17 01:42] hwine opened #141 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109